@model IEnumerable<website.Models.IdeaModel>
@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" style="margin-bottom:10px;" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @if(Model.ElementAtOrDefault(0) != null)
        {
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        }
        @if(Model.ElementAtOrDefault(1) != null)
        {
            <li data-target="#myCarousel" data-slide-to="1"></li>
        }
        @if(Model.ElementAtOrDefault(2) != null)
        {
            <li data-target="#myCarousel" data-slide-to="2"></li>
        }
        @if(Model.ElementAtOrDefault(3) != null)
        {
            <li data-target="#myCarousel" data-slide-to="3"></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @if(Model.ElementAtOrDefault(0) != null)
        {
            <div class="item active">
                <img src="@Model.ElementAt(0).ImagePath" alt="ASP.NET" class="img-responsive center-block" />
                <div class="carousel-caption" role="option">
                    <p>
                        @Html.DisplayFor(modelItem => Model.ElementAt(0).ProductName)
                    </p>
                    <a class="btn btn-default" asp-action="Details" asp-controller="Idea" asp-route-id="@Model.ElementAt(0).IdeaId">Details</a>
                </div>
            </div>
        }
        @if(Model.ElementAtOrDefault(1) != null)
        {
            <div class="item">
                <img src="@Model.ElementAt(1).ImagePath" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        @Html.DisplayFor(modelItem => Model.ElementAt(1).ProductName)
                    </p>
                    <a class="btn btn-default" asp-action="Details" asp-controller="Idea" asp-route-id="@Model.ElementAt(1).IdeaId">Details</a>
                </div>
            </div>
        }
        @if(Model.ElementAtOrDefault(2) != null)
        {
            <div class="item">
                <img src="@Model.ElementAt(2).ImagePath" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        @Html.DisplayFor(modelItem => Model.ElementAt(2).ProductName)
                    </p>
                    <a class="btn btn-default" asp-action="Details" asp-controller="Idea" asp-route-id="@Model.ElementAt(2).IdeaId">Details</a>
                </div>
            </div>
        }
        @if(Model.ElementAtOrDefault(3) != null)
        {
            <div class="item">
                <img src="@Model.ElementAt(3).ImagePath" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        @Html.DisplayFor(modelItem => Model.ElementAt(3).ProductName)
                    </p>
                    <a class="btn btn-default" asp-action="Details" asp-controller="Idea" asp-route-id="@Model.ElementAt(3).IdeaId">Details</a>
                </div>
            </div>
        }
    </div>
    
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    @foreach (var item in Model.Skip(4)) {
        <div class="col-md-6">
            <div class="thumbnail" style="height:60rem; overflow:hidden">
                <img src="@item.ImagePath" alt=":/" />
                <div class="caption" style="vertical-align:bottom; display:inline-block">
                    <h2>@Html.DisplayFor(modelItem => item.ProductName)</h2>
                    <p>@Html.DisplayFor(modelItem => item.ProductContentPreview)</p>
                    @{ 
                        decimal amount = 0m;
                        if (item.Donations != null)
                        {
                            amount = item.Donations.Sum(m => m.Amount);
                        }
                        
                    }
                    <p>@Html.DisplayFor(modelItem => amount) kr.</p>
                    <a class="btn btn-default" asp-action="Details" asp-controller="Idea" style="position: absolute; bottom:5.5%;" asp-route-id="@item.IdeaId">Details</a>
                </div>
            </div>
        </div>
    }
</div>
