@model website.Models.IdeaModel

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="margin-top:15px">
    <div class="row">
        <div class="col-md-7">
            <h1>
                @Html.DisplayFor(model => model.ProductName)
            </h1>
            <h3>Goal: <strong>@Html.DisplayFor(model => model.FundGoal)</strong></h3>
            @{ 
                decimal amount = 0m;
                if (Model.Donations != null)
                {
                    amount = Model.Donations.Sum(m => m.Amount);
                }
            }
            <h3>Pledged: <strong>@Html.DisplayFor(model => amount) kr.</strong></h3>
            <a asp-action="Donate" class="btn btn-success btn-lg" style="margin-top: 20px" asp-route-id="@Model.IdeaId">Donate</a>
        </div>
        <div class="col-md-5">
            <img class="img-rounded" style="width:100%" src="@Model.ImagePath" alt=":/" />
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(model => model.ProductContent)
        </div>
    </div>
</div>
    
